npm-debug.log

.vscode/angulardoc.json

# Outputs
bazel-*
test-project-host-*
dist/
dist-schema/

# IDEs
.idea/
jsconfig.json
.vscode/

# Typings file.
typings/

# Misc
coverage/
node_modules/
tmp/
npm-debug.log*
yarn-error.log*
.ng_pkg_build/

# Mac OSX Finder files.
**/.DS_Store
.DS_Store

node_modules
_temp
bower_components
jspm_packages
**/packages
build
pubspec.lock
.pub
.packages
*.map
*.iml
**/*.iml
.idea
.idea/*
.vscode
**/js/latest/api
**/ts/latest/api
**/dart/latest/api
**/docs/**/_fragments
